  .row {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  [class*="col-"] {
    float: left;
    box-sizing: border-box;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .col {
    flex: auto;
  }

  .col-1 {
    flex-basis: 8.33%;
  }

  .col-2 {
    flex-basis: 16.66%;
  }

  .col-3 {
    flex-basis: 25%;
  }

  .col-4 {
    flex-basis: 33.33%;

  }

  .col-5 {
    flex-basis: 41.66%;
  }

  .col-6 {
    flex-basis: 50%;
  }

  .col-7 {
    flex-basis: 58.33%;
  }

  .col-8 {
    flex-basis: 66.66%;
  }

  .col-9 {
    flex-basis: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }


  /* global */
  body {
    font-size: 1rem;
    background-color: #fff;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    width: 1320px !important;
    margin: auto;
  }

  a {
    text-decoration: none;
    color: #292621
  }

  ul {
    padding: 0px;
    margin: 3px 0px;

  }

  li {
    list-style: none;
  }

  .text-white {
    color: white;
  }

  .text-center {
    text-align: center;
  }