body {
  width: 50%;
  margin: auto;
  background-color: #f5f5f5 !important;
}

.title {
  color: #b83f45;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
}

.todo {
  display: flex;
  flex-direction: column;
}

.todo .input-area {
  display: flex;
  flex-wrap: wrap;
}

.input-text {
  width: 100%;
  padding: 16px 16px 16px 60px;
  line-height: 1.4em;
  font-size: 24px;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, .03);
  border: none;
}

.input-text:focus {
  box-shadow: 0 0 2px 2px #cf7d7d;
  outline: none;
}

main {
  position: relative;
}

.select-all {
  position: absolute;
  bottom: 100%;
  font-size: 24px;
}

.select-all {
  font-size: 24px;
}

#todo-list {
  display: flex;
  flex-direction: column;
}

#todo-list .todo-item {
  font-size: 24px;
  font-weight: 400;
  color: #484848;
  border-bottom: 1px solid #ededed;
  background-color: #fff;
}

.todo-item button {
  background-color: #fff;
  border: 0;
  font-size: 24px;
  color: #949494;
}

.todo-item .item {
  padding: 16px 16px 16px 60px;
  line-height: 1.4em;
  font-size: 24px;
  word-break: break-all;
}


/* footer */
.todo-count {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

.todo footer {
  background-color: #fff;
  padding: 10px 15px;
  height: 50px;
  content: "";
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, .2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, .2);
}

.todo footer .filters {
  display: flex;
  flex-wrap: row;
  justify-content: space-around;
}

footer .filters li a {
  padding: 3px 7px;
  margin: 3px;
}

footer .filters li:hover {
  border: 1px solid #ce4646;
}

footer .clear-completed {
  background-color: #fff;
  border: 0;
}

footer .clear-completed:hover {
  cursor: pointer;
  text-decoration: underline;
}

.todo-item:hover .fa-times {
  visibility: visible;
}

.todo-item:hover .fa-pencil-square-o{
  visibility: visible;
}

footer.text-center {
  margin-top: 60px;
  font-size: 11px;
  color: #4d4d4d;
}

.fa-times {
  visibility: hidden;
}

.fa-pencil-square-o{
  visibility: hidden;
}

.completed label {
  text-decoration: line-through;
  color: #949494;
}

.filters .selected {
  border: 1px solid #ce4646;
}

.pagination {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.pagination button{
  background-color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  border: .2px solid #b83f45;
}

.pagination button:hover{
  background-color: #b83f45;
  color: white;
}

.pagination .selected{
  background-color: #b83f45;
  color: white;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}